@charset "utf-8";

/* Header Styles */
#navbar {
    font-family: 'Fredoka One';
    font-size: 30px;

}

#logo_img {
    height: 100px;
}

/*Career Options Styles & Layouts*/
#careersHeader {
    background: linear-gradient(70.1deg, rgb(255, 200, 69) -0.3%, rgb(239, 69, 115) 100.2%);
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    font-size: 50px;
    
    outline-style: solid;
    font-family: 'Alfa Slab One';
    text-shadow: 4px 5px aliceblue;
    box-shadow: rgb(36, 36, 119) 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(185, 36, 36) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(109, 18, 158) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(24, 23, 23) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(53, 13, 13) 40px -40px;
    filter: drop-shadow(30px 30px 50px #000);
}

/* Pills Navigation Styles and Layout */

#careerNav {
    font-family: 'Alfa Slab One';
}

/* Add a color to the active/current link */
#careerNav a.active {
    background-color: rgb(20, 23, 27);
    color: white;
}

/*Change color of link */
#careerNav > li > a {
    color: black;
    font-size: 20px;
}

/*Styles for Tab Content*/
h1 {
    font-family: 'Alfa Slab One';
    text-shadow: 4px 3px 0px rgb(234, 232, 232), 10px 10px 0px rgba(0,0,0,0.15);
}

.content {
    font-family: 'Raleway';
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding: 60px;
    border-radius: 20px;
    outline-style: double;
    outline-width: 10px;
}

@media screen and (max-width: 768px) {
  .col{
      flex: 90%;
      max-width: 100%;
  }
}

/*Animation for Text*/

.header {
  animation: bounce-2 4s;
}

@keyframes bounce-2 {
0%   { transform: translateY(0); }
50%  { transform: translateY(-100px); }
100% { transform: translateY(0); }
}

/* Career Opportunity Modal Button */

.button {
  align-items: center;
  border: 2px solid #111;
  box-sizing: border-box;
  display: flex;
  height: 48px;
  justify-content: center;
  padding: 0 25px;
  position: relative;
  text-align: center;
  touch-action: manipulation;
}

.button:after{
  background-color: #111;
  content: "";
  display: block;
  height: 48px;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button:hover:after {
  transform: translate(0, 0);
}

@media (min-width: 768px) {
  .button{
    padding: 0 40px;
  }
}

/* Scroll to Top Button Styles */

#topBtn {
  background-color: #FCFCFD;
  border-radius: 4px;
  float: right;
  margin-top: 33px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  font-family: "Alfa Slab One";
  height: 48px;
  transition: box-shadow .15s,transform .15s;
  touch-action: manipulation;
  white-space: nowrap;
  font-size: 18px;
}

#topBtn:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

#topBtn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

#topBtn:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

/* Footer Styles */

footer {
  margin-top: 80px;
}

#footer-text {
  font-family: 'Raleway';
}

#footer-titles1, #footer-titles2 {
  font-family: 'Alfa Slab One';
}

/* Logo Footer Styles */

/* Style the icon bar links */
.socialmedia_logos a {
  text-align: center;
  padding: 16px;
  margin-left: 20px;
  transition: all 0.5s ease-in;
  color: white;
  font-size: 25px;
  border-radius: 10px;
}

.facebook {
  background: #3B5998;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.instagram {
 background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
 color: white; 
}

/* Footer Link Styles */

.linkPages a {
  color: white;
}

.contactInfo a {
  color: white;
}

.linkPages a:hover {
  color: rgb(186, 107, 107);
}

.contactInfo a:hover {
  color: rgb(186, 107, 107);
}

.linkPages > ul {
  font-family: 'Raleway';
  font-size: large;
}

.contactInfo > ul > li {
  font-family: 'Raleway';
  font-size: 18px;
}

