@charset "utf-8";

/* Header Styles */
#navbar {
    font-family: 'Fredoka One';
    font-size: 30px;

}

#logo_img {
    height: 100px;
}

/*My Experiences Styles & Layouts*/

#experiencesHeader {
    background-image: url("../CA2_GRAPHICS/experiencesbackground.jpeg");
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    
    outline-style: solid;
    text-shadow: 4px 5px white;
    box-shadow: rgb(36, 36, 119) 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(185, 36, 36) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(109, 18, 158) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(24, 23, 23) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(53, 13, 13) 40px -40px;
    filter: drop-shadow(30px 20px 30px rgb(48, 47, 47));
}

#header, #subheader {
  font-family: 'Alfa Slab One';
}

#courseHeader1, #courseHeader2, #courseHeader3, #courseHeader4, #courseHeaderTitle1, #courseHeaderTitle2, #courseHeaderTitle3, #courseHeaderTitle4 {
    font-family: 'Alfa Slab One';
    text-shadow: 2px 3px grey;
}

p {
    font-family: 'Raleway';
}

/* Caption for Figures */
figcaption{
    background: #f8d8d8;
    border-radius: 10px;
    font-family: 'Alfa Slab One';
    letter-spacing: 5px;
}

#button {
    font-family: 'Alfa Slab One';
}

/*Tables Styles*/

#table_header_course, #table_header_timetable, caption {
    font-family: 'Alfa Slab One';
}

tr, .table_titles {
    font-family: 'Raleway';
}

/*Find Out More Button*/

#button {
  text-transform: uppercase;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  touch-action: manipulation;
}

#button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  #button {
    padding: 0.25em 0.75em;
  }
}

/* Graphic Styles and Formats */

#experiencesCourseImg, #experiencesFacilitiesImg, #experiencesVideographyImg, #experiencesProjectImg{
    filter: saturate(1.5) contrast(1.2);
}

/* Scroll to Top Button Styles */

#topBtn {
  background-color: #FCFCFD;
  border-radius: 4px;
  float: right;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  font-family: "Alfa Slab One";
  height: 48px;
  transition: box-shadow .15s,transform .15s;
  touch-action: manipulation;
  white-space: nowrap;
  font-size: 18px;
}

#topBtn:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

#topBtn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

#topBtn:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

/* Footer Styles */

#footer-text {
  font-family: 'Raleway';
}

#footer-titles1, #footer-titles2 {
  font-family: 'Alfa Slab One';
}

/* Logo Footer Styles */

/* Style the icon bar links */
.socialmedia_logos a {
  text-align: center;
  padding: 16px;
  margin-left: 20px;
  transition: all 0.5s ease-in;
  color: white;
  font-size: 25px;
  border-radius: 10px;
}

.facebook {
  background: #3B5998;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.instagram {
 background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
 color: white; 
}

/* Footer Link Styles */

a {
color: white;
}

a:hover {
  color: rgb(186, 107, 107);
}

.linkPages > ul {
  font-family: 'Raleway';
  font-size: large;
}

.contactInfo > ul > li {
  font-family: 'Raleway';
  font-size: 18px;
}

